<div class="help-block errors">
  <% if resource.errors.present? %>
    <h4><%= pluralize(resource.errors.count, 'ERROR') %> В ЗДАНИИ, ВСЕМ ПОД СТОЛ!</h4>
    <% resource.errors.full_messages.each do |message| %>
      <li class="single-error"><%= message %></li>
    <% end %>
  <% end %>
</div>
