.flash {
  width: fit-content;
  height: 30px;
  font-size: 17px;
}

.flash .alert {
  color: red;
}

.flash .notice {
  color: deepskyblue;
}

.flash .success {
  color: greenyellow;
}

.flash .warning {
  color: yellow;
}
