<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">@evgenjapan <%= current_year %> <%= github_url('evgenjapan', 'TestGuru')%>:
    <a href="http://thinknetica.com/">Учебный проект в онлайн-школе Thinknetica</a>
  </div>
</footer>
