<nav class="navigation nav-section">
  <div>
    <p class="nav-brand"><%= link_to 'TestGuru', tests_path %></p>
    <ul class="link-list">
      <li class="nav-item"><%= link_to 'Sign up', signup_path %></li>
      <% if logged_in? %>
        <li class="nav-item" id="welcome-message">Welcome, <%= current_user.username %> Guru</li>
      <% else %>
        <li class="nav-item"><%= link_to 'Login', login_path %></li>
      <% end %>
    </ul>
  </div>
</nav>
